:root {
  // Typography
  --nav-font: "Barlow Condensed", sans-serif;
  --title-font: "Bellefair", serif;
  --txt-font: "Barlow", sans-serif;

  --heading1: 80px;
  // tablet: , desktop: 150px
  --heading2: 56px;
  // tablet: 80px, desktop: 100px
  --heading3: 24px;
  // tablet: , desktop: 56px
  --heading4: 16px;
  // tablet: , desktop: 32px
  --heading5: 16px;
  // tablet: , desktop: 28px
  --subheading1: 28px;
  --subheading2: 14px;
  --nav-txt: 16px;
  // tablet: , desktop: 16px
  --body-txt: 15px;
  // tablet: 16px, desktop: 18px
  --btn-txt: 20px;
  //  tablet: , desktop:

  --heading5-letter-space: 2.7px;
  // tablet: , desktop: 4.75px
  --subheading2-letter-space: 2.35px;
  --nav-letter-space: 2.36px;
  // tablet: , desktop: 2.7px
  --btn-letter-space: 1.25px;
  // Colors
  --dark-grey: #0b0d17;
  --light-grey: #d0d6f9;
  --white: #ffffff;

  // Sizes
  --outer-padding: 24px;
  --header-height: 50px;
  --main-title-padding: 16px;
  --nav-padding: 32px;

  --btn: 150px;
}

// .visually-hidden:not(:focus):not(:active) {
//   clip: rect(0 0 0 0);
//   clip-path: inset(50%);
//   height: 1px;
//   overflow: hidden;
//   position: absolute;
//   white-space: nowrap;
//   width: 1px;
// }
