:root {
  // Typography
  --nav-font: "Barlow Condensed", sans-serif;
  --title-font: "Bellefair", serif;
  --txt-font: "Barlow", sans-serif;

  --heading1: 15rem;
  --heading2: 10rem;
  --heading3: 5.6rem;
  --heading4: 3.2rem;
  --heading5: 2.8rem;
  --subheading1: 2.8rem;
  --subheading2: 1.4rem;
  --nav-txt: 1.6rem;
  --body-txt: 1.8rem;

  --heading5-letter-space: 0.475rem;
  --subheading2-letter-space: 0.235rem;
  --nav-letter-space: 0.27rem;

  // Colors
  --dark-grey: #0b0d17;
  --light-grey: #d0d6f9;
  --white: #ffffff;

  // Sizes
  --outer-padding: 24px;
  --header-height: 50px;
}

// .visually-hidden:not(:focus):not(:active) {
//   clip: rect(0 0 0 0);
//   clip-path: inset(50%);
//   height: 1px;
//   overflow: hidden;
//   position: absolute;
//   white-space: nowrap;
//   width: 1px;
// }
